body {
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
}
/* HEADER */
header {
  width: 100%;
  background-color: rgb(39, 38, 38);
  height: 15vh;
  display: grid; 
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
  position: fixed;
  top: 0;
  /* margin-bottom: 50%; */
}

main {
  margin-top: 10%;
}

#personalVideos {
  grid-area: 2 / 3 / 2 / 3;
}

#playlists {
  grid-area: 2 / 2 / 2 / 2;
}

#shares {
  grid-area: 2 / 1 / 2 / 2;
}

header > img {
  grid-area: 1 / 4 / 3 / 4;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}


/* CARDS */
.cards {
  padding: 0;
  margin: 1%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 25%);
}

.card-container {
  grid-template: 1fr 2fr / 1fr 1fr 1fr;
  box-shadow: 0px 0px 2px 2px #8686865d;
  margin: .5% .5% 5% .5%;
}
/* CARD IMG */
.card-image-container {
  display: grid;
  grid-template: 1fr / 1fr 2fr 1fr;
}

.card-img {
  width: 100%;
  grid-area: 1 / 1 / 1 / span 3;
}

.share-arrow {
  grid-area: 1 / 1 / 1 / 1;
  background-color: white;
  border-radius: 50%;
  padding: 15%;
  margin: 10%;
}

.view-count {
  grid-area: 1 / 3 / 1 / 3;
  text-align: center;
  color: white;
  font-size: 1.2em;
  line-height: 150%;
}

/* CARD INFO */
.card {
  display: grid;
  grid-row: 2 / 2;
  background-color: white;
  width: 99%;
  margin: 1%;
  font-weight: bolder;
}

.playlist, 
.attachments,
.card-name {
  font-weight: 1000;
  font-size: 3vh
}

.date, .link {
  color: grey;
  margin-top: 0;
}

.link {
  background-color: rgba(233, 233, 233, 0.568);
  padding: 10px;
  color: grey;
  word-wrap: break-word;
  width: 85%;
}
/* DESKTOP */
@media screen and (min-width: 901px) {
  header {
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 2fr 1fr;
    padding: 1%;
  }

  header > img {
    grid-area: 2 / 5 / -1 / 6;
    width: 100%;
    background: transparent;
  }
  
  header > button {
    background: transparent;
    color: white;
    margin-bottom: 10%;
    border: none;
    height: 100%;
    font-size: 100%;
  }

  #personalVideos {
    grid-area: 3 / 3 / 3 / 4;
  }
  
  #playlists {
    grid-area: 3 / 2 / 3 / 3;
  }
  
  #shares {
    grid-area: 3 / 1 / 3 / 2;
  }

  .icon {
    width: 2vh;
    margin-right: 3%;
  }

  .admin-username {
    background: transparent;
    border: none;
    color: cornflowerblue;
    grid-area: 1 / 5 / 2 / 6;
    font-size: 2vh;
  }

  .cards {
    /* grid-template-columns: 1fr 1fr 1fr; */
  }

  .card-container {
    margin: 5%;
  }

  .card > p{
    margin: 1%;
  }

  .share-arrow {
    padding: 10%;
    margin: 5%;
  }
}

/* TABLET */
@media screen and (max-width: 900px) {

  header > button {
    background: transparent;
    border: none;
    color: white;
    margin-bottom: 2%;
    font-size: 2.4vh;
  }
  
  header > img {
    grid-area: 1 / 4 / 3 / 4;
    width: 100%;
    height: 100%;
  }

  .icon {
    display: none;
  }

/* MAIN */
  main {
    margin-top: 25%;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }
  
  .card-container {
    margin: 3%;
  }

  .link {
    width: 90%;
  }

  .attachment-count {
    color: blue;
    font-size: 2em;
    margin: 0;
  }

  .share-arrow {
    margin: 10%;
    padding: 10%;
  }

}

/* MOBILE */
@media screen and (max-width: 500px) {
/* HEADER */
  header {
    height: 15vh;
    display: grid; 
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
  }

  header > button {
    background: transparent;
    border: none;
    color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 2%;
  }

  #shares {
    background-image: url("https://img.icons8.com/dotty/80/000000/share.png");
  }

  #playlists {
    background-image: url("https://img.icons8.com/ios/50/000000/personal-video-recorder-menu.png");
  }

  #personalVideos {
    background-image: url("https://img.icons8.com/ios/48/000000/webcam-man.png");
  }
  
  header > button > span > img {
    display: none;
  }

/* MAIN */

  main {
    margin-top: 30%;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .playlist, 
  .attachments,
  .card-name {
    font-size: 2.5vh
  }

  .attachment-count {
    color: blue;
    font-size: 2em;
    margin: 0;
  }

}