body {
  width: 100%;
  height: 100%;
  margin: 0;
}

li {
  list-style: none;
}
/* MOBILE */
@media screen and (max-width: 500px) {
/* HEADER */
  header {
    width: 100%;
    height: 15vh;
    background-color: grey;
    display: grid; 
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
  }

  header > button {
    background: transparent;
    border: none;
    color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #shares {
    grid-area: 2 / 1 / 2 / 2;
    background-image: url("https://img.icons8.com/dotty/80/000000/share.png");
  }

  #playlists {
    grid-area: 2 / 2 / 2 / 2;
    background-image: url("https://img.icons8.com/ios/50/000000/personal-video-recorder-menu.png");
  }

  #personalVideos {
    grid-area: 2 / 3 / 2 / 3;
    background-image: url("https://img.icons8.com/ios/48/000000/webcam-man.png");
  }
  
  header > img {
    grid-area: 1 / 4 / 3 / 4;
    width: 100%;
    height: 100%;
  }

/* MAIN */
  main {
    height: 100%;
    display: grid;
  }

  .cards {
    padding: 0;
    overflow-y: scroll;
    margin: 2%;
    grid-template-columns: repeat(auto-fit, minmax(.5fr, 1fr));
  }

  .card-container {
    grid-template: 1fr 2fr / 1fr 1fr 1fr;
    border: 1px solid;
    margin-bottom: 2%;
  }

  .card-image-container {
    display: grid;
    grid-template: 1fr / 1fr 65% 1fr;
  }

  .card-img {
    opacity: .9;
    width: 100%;
    grid-area: 1 / 1 / 1 / span 3;
  }

  .card {
    display: grid;
    grid-row: 2 / 2;
    background-color: white;
    width: 100%;
  }

  .share-arrow {
    grid-area: 1 / 1 / 1 / 1;
  }

  .view-count {
    grid-area: 1 / 3 / 1 / 3;
    text-align: center;
  }

  .link {
    background-color: rgba(233, 233, 233, 0.568);
    padding: 10px;
    margin-right: 10%;
    color: grey;
  }

  .card > p {
    font-family: Helvetica;
    font-size: 2.6vh;
  }

  .date {
    color: grey;
    margin-top: 0;
  }

}